body {
    margin: 0;
    padding: 0;
    background: url("../imgs/space.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.starwars_logo {
    width: 500px;
    opacity: 0;
    -webkit-animation: fade 7s ease;
            animation: fade 7s ease;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
}

.tatooine {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -325px;
    width: 650px;
    height: 400px;
    display: none;
    -webkit-animation: go 3s ease;
            animation: go 3s ease;
}

.tatooine1 h1 {
    font-size: 130px;
    text-align: center;
    font-family: 'open sans';
    color: white;
    font-weight: 650;
    margin-bottom: 15px;
}

.tatooine1 p {
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier;
    font-weight: 100;
    color: white;
}

.bar {
    width: 50px;
    height: 5px;
    margin: auto;
    background: white;
    margin-bottom: 30px;
}

.text {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-family: 'Courier New', Courier;
    color: white;
    -webkit-animation: go 2s ease;
            animation: go 2s ease;
}

.more {
    width: 80px;
    height: 80px;
    margin: auto;
    cursor: pointer;
    margin-top: 30px;
    -webkit-animation: bounce 2s ease infinite;
            animation: bounce 2s ease infinite;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    background: url("../imgs/arrow3.png");
    background-size: cover;
}

.more:hover {
    background: url("../imgs/arrow2.png");
    background-size: cover;
    -webkit-animation: rotate .3s ease;
            animation: rotate .3s ease;
}

.tatooine2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -425px;
    width: 850px;
    height: 400px;
    -webkit-animation: go 3s ease;
            animation: go 3s ease;
}

.go {
    width: 200px;
    height: 60px;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    padding-left: 15px;
    color: white;
    border: 2px solid white;
}

.go p {
    line-height: 10px;
    font-size: 26px;
    font-family: 'open sans';
}

.go img {
    width: 50px;
    position: absolute;
    bottom: 47px;
    padding-left: 125px;
    -webkit-animation: rocket 2s ease infinite;
            animation: rocket 2s ease infinite;
}

.go:hover {
    background: rgba(111, 111, 111, 0.29);
}

a {
    text-decoration: none;
}


/*  Volume */

.volume {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 40px;
    margin: 6.5px 0px 0px 60px;
}

.mute {
    background: url(../imgs/mute.png);
    background-size: 40px;
    width: 40px;
    height: 34px;
}

.sound {
    background: url(../imgs/sound.png);
    background-size: 40px;
    width: 40px;
    height: 34px
}


/*  Animations */

@-webkit-keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
                transform: scale(.2);
    }
    80% {
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
                transform: scale(.2);
    }
    80% {
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes go {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes go {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    15% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    25% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    35% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    43% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    15% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    25% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    35% {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }
    43% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}

@-webkit-keyframes rocket {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(15px);
                transform: translateX(15px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes rocket {
    0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(15px);
                transform: translateX(15px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
